body {
    line-height: normal;
    font-size: 14px;
    line-height: 1.25em;
    color: inherit;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: '-apple-system', 'BlinkMacSystemFont', helvetica, 'AppleSDGothicNeo', sans-serif;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}
/* 메인 */
header .left-wrap .logo a::before,
header .left-wrap .k-cata a::before,
header .search-btn a::before,
.lnb-area .lnb-swiper::before,
.lnb-area .lnb-swiper:nth-child(2) a::before,
.lnb-area .lnb-swiper .swiper-slide a::after,
.lnb-area .lnb-swiper::after,
.lnb-area .lnb-swiper .swiper-slide.mr a::before,
.lnb-area .lnb-swiper .swiper-slide.top a::before,
.lnb-area .lnb-swiper .swiper-slide.best a::before,
.lnb-area .lnb-swiper .swiper-slide.live a::before,
.lnb-area .lnb-swiper .swiper-slide.ai a::before, .sc-legal .link-more::after {
    background-image: url(../images/spSv_global.png);
    background-size: 286px 267px;
    display: block;
    content: '';
}
.sc-rank .rank-banner a::before,
.sc-hotdeal .deal-banner a::before {
    background-image: url(../images/sp_best_v2.png);
    background-repeat: no-repeat;
    background-size: 275px auto;
    content: '';
    display: block;
}

/* 디테일,메인 */
.container {
    background-color: #e9ecef;
}
/* 로그인 */
.wrapper {
    padding: 0 10px 34px;
    background-color: #efeff0;
}
/* 서비스메뉴 */
.top-area .logo a::before,
.top-area .main-cata::before,
.top-area .cata::before,
.top-area .btn-close::before,
.sc-service .service-item a::before,
.sc-service .service-list .service-item.toptop a::after {
    background-image: url(../images/spSw_hamburger_svg.svg);
    background-size: 627px 623px;
    background-repeat: no-repeat;
}
/* 디테일 */
header .logo a::before,
header .utils-area a::before,
.sc-main .wrap .star::before,
.sc-main .plus-box .box::before,
.sc-main .plus-box .p-box::before,
section .btn-box a .txt::before,
.sc-proinfor .more-box .desc::before,
.sc-visual .notice-title::before,
.sc-seller .btn-wrap .btn-share::before,
.sc-seller .btn-wrap .btn-like .txt::before,
section .product-swiper .ig-content .btn-like::after,
.sc-main .all-box .saving-title .txt::after,
.sc-main .all-box .btn-close::before,
.sc-deliver .del-box span button::after,
.sc-deliver .del-box .btn-close::before  {
    background-image: url(../images/spIcon_svg.svg);
    background-size: 659px 650px;
    background-repeat: no-repeat;
    display: block;
    content: '';
}
.sc-main .point-box .btn-pointview::before,
.sc-main .plus-box a::before,
.sc-main .banner-box a::before,
.sc-proinfor .more-box .btn-more::before,
.sc-visual .btn-all .txt::after,
.sc-seller .seller-box .seller::after,
.sc-seller .btn-more .txt::after,
.sc-popproduct .link-all::after,
.sc-informore .infor-item a::after,
.sc-main .point-box.active .btn-pointview::before,
.sc-visual .img-box .more-box .txt::after {
    background-image: url(../images/spArrow_svg.svg);
    background-size: 193px 188px;
    background-repeat: no-repeat;
    display: block;
    content: '';
}
.sc-main .plus-box .plus-title::before {
    background-image: url(../images/spText_svg.svg);
    background-size: 336px 295px;
    background-repeat: no-repeat;
    display: block;
    content: '';
}
main .t-wrap .btn-top .txt::after,
footer .naver-seller::after {
    background-image: url(../images/sp_footer.png);
    background-size: 27px auto;
    background-repeat: no-repeat;
    display: block;
    content: '';
}
footer .f-logo a::before {
    background-image: url(../images/spSs_icon_svg.svg);
    background-size: 259px
    220px;
    background-repeat: no-repeat;
    display: block;
    content: '';
}
section .btn-box {
    box-shadow: inset 0 1px 0 0 #f1f1f5;
    display: flex;
}
section .btn-box a {
    display: block;
    width: 50%;
    text-align: center;
    height: 54px;
    font-size: 16px;
    line-height: 54px;
    color: #000;
    position: relative;
}
section .btn-box a.share .txt::before {
    background-position: -131px -602px;
    width: 18px;
    height: 16px;
    margin: 19px 7px 0 0;
    display: inline-block;
    vertical-align: top;
}
section .btn-box a.like .txt::before {
    background-position: -638px -128px;
    width: 17px;
    height: 15px;
    margin: 20px 5px 0 0;
    display: inline-block;
    vertical-align: top;
}
section .btn-box a.like::before {
    position: absolute;
    top: 50%;
    left: -1px;
    width: 1px;
    height: 18px;
    margin-top: -9px;
    background-color: rgba(0,0,0,.1);
    content: '';
}
.buy-box {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9000;
    padding: 10px 8px 10px 7px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 7%);
    display: table;
    padding: 10px 8px 10px 7px;
    width: 100%;
    table-layout: fixed;
}
.buy-box a {
    display: table-cell;
    height: 44px;
    padding: 0 2px 0 3px;
    box-sizing: content-box;
    vertical-align: middle;
}
.buy-box a .box {
    position: relative;
    width: 100%;
    height: 100%;
}
.buy-box a .box::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    content: '';
}
.buy-box .btn-like,
.buy-box .btn-talk {
    width: 44px;
}
.buy-box .btn-like svg,
.buy-box .btn-talk svg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin: -12px 0 0 -12px;
}
.buy-box .btn-present .box::before,
.buy-box .btn-buy .box::before {
    border-color: #03c75a;
}
.buy-box .btn-present,
.buy-box .btn-buy {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.64px;
    color: #222;
    text-align: center;
    line-height: 44px;
}
.buy-box .btn-buy .box {
    color: #ffffff;
    background-color: #03c75a;
    border-radius: 2px;
    overflow: hidden;
}
.page-btn-top {
    position: fixed;
    right: 7px;
    bottom: 73px;
    z-index: 3001;
    display: none;
}
/* 로그인서비스, 리스트서비스공통 */
.sc-service .service-list .service-item {
    display: block;
    width: 50%;
    height: 44px;
}
.sc-service .service-list .service-item a {
    display: block;
    font-size: 15px;
    line-height: 44px;
    color: #444;
}
.sc-service .service-list .service-item.toptop a::after {
    background-position: -4px -56px;
    width: 48px;
    height: 19px;
    margin-top: 12px;
    display: inline-block;
    content: '';
    vertical-align: top;
}
.sc-service .service-item:first-child a::before {
    background-image: url(../images/spSw_hamburger_png.png);
    background-size: 24px 24px;
    background-position: 0px 0px;
    display: inline-block;
    content: '';
}

.sc-service .service-item a::before {
    display: inline-block;
    content: '';
    margin: 10px 8px 0 0;
    vertical-align: top;
    width: 24px;
    height: 24px;
}
.sc-service .service-item:nth-child(2) a::before {
    background-position: -68px -563px;
}
.sc-service .service-item:nth-child(3) a::before {
    background-position: -484px -563px;
}
.sc-service .service-item:nth-child(4) a::before {
    background-position: -565px -503px;
}
.sc-service .service-item:nth-child(5) a::before {
    background-position: -356px -563px;
}
.sc-service .service-item:nth-child(6) a::before {
    background-position: -548px -563px;
}
.sc-service .service-item:nth-child(7) a::before {
    background-position: -4px -563px;
}
.sc-service .service-item:nth-child(8) a::before {
    background-position: -565px -439px;
}
.sc-service .service-item:nth-child(9) a::before {
    background-position: -260px -563px;
}
.sc-service .service-item:nth-child(10) a::before {
    background-position: -228px -563px;
}
.sc-service .service-item:nth-child(11) a::before {
    background-position: -100px -563px;
}
.sc-service .service-item:nth-child(12) a::before {
    background-position: -292px -563px;
}
.sc-service .service-item:nth-child(13) a::before {
    background-position: -196px -563px;
}
.sc-service .service-item:nth-child(14) a::before {
    background-position: -388px -563px;
}
.sc-service .service-item:nth-child(15) a::before {
    background-position: -452px -563px;
}
.sc-service .service-item:nth-child(16) a::before {
    background-position: -565px -407px;
}
.sc-service .service-item:nth-child(17) a::before {
    background-position: -324px -563px;
}
.sc-service .service-item:nth-child(18) a::before {
    background-position: -164px -563px;
}
.sc-service .service-item:nth-child(19) a::before {
    background-position: -132px -563px;
}
.sc-service .service-item:nth-child(20) a::before {
    background-position: -36px -563px;
}
.sc-service .service-item:nth-child(21) a::before {
    background-position: -599px -4px;
}
.sc-service .service-item:nth-child(22) a::before {
    background-position: -420px -563px;
}
.sc-service .service-item:nth-child(23) a::before {
    background-position: -565px -471px;
}
.sc-service .service-item:nth-child(24) a::before {
    background-position: -516px -563px;
}
.sc-service .service-item:nth-child(25) a::before {
    background-position: -565px -343px;
}
.sc-service .service-item:nth-child(26) a::before {
    background-position: -565px -375px;
}