@import url(./reset.css);
@import url(./common.css);



footer {
    padding: 0 7px 74px 5px;
    text-align: center;
}
footer .t-wrap {
    margin-bottom: 14px;
    border-top: 1px solid #e7e7e7;
}
footer .t-wrap .btn-top {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #e1e4e7;
    background: #fff;
    height: 43px;
}
footer .t-wrap .btn-top .txt {
    position: relative;
    font-family: 'AppleSDGothicNeo-Regular';
    font-size: 14px;
    line-height: 15px;
    color: #555;
    display: inline-block;
    padding-right: 13px;
}
footer .t-wrap .btn-top .txt::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 5px;
    margin-top: -3px;
    background-position: 0 -10px;
    display: inline-block;
}
footer .t-wrap .btn-wrap {
    margin-top: 5px;
    border: 1px solid #e1e4e7;
    background-color: #f7f7f9;
    display: flex;
    text-align: center;
    font-family: 'AppleSDGothicNeo-Regular';
    font-size: 14px;
    line-height: 15px;
    color: #555;
    font-weight: 300;
}
footer .t-wrap .btn-wrap a {
    width: 50%;
    display: block;
    padding: 13px 0 11px;
    position: relative;
}
footer .t-wrap .btn-wrap a+a::before {
    width: 1px;
    height: 12px;
    background-color: #ebebeb;
    content: '';
    position: absolute;
    left: 0;
    top: 13px;
}

footer .naver-seller {
    display: inline-block;
    position: relative;
    padding-right: 13px;
    margin-bottom: 2px;
    font-family: 'AppleSDGothicNeo-Light';
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
    color: #555;
}
footer .naver-seller::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 5px;
    margin: -4px 0 0 5px;
    background-position: 0 0;
    vertical-align: middle;
    content: '';
}
footer .corp-box {
    max-width: 300px;
    margin: 9px auto 0;
    font-family: 'AppleSDGothicNeo-Light','HelveticaNeue';
    font-size: 13px;
}
footer .corp-box a {
    display: inline-block;
    color: #888;
}
footer .corp-box a .txt {
    display: block;
    position: relative;
    margin-left: 8px;
    padding-left: 9px;
    font-family: 'AppleSDGothicNeo-Regular';
}
footer .corp-box a+a .txt::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 11px;
    margin-top: -6px;
    background-color: #c9cccf;
    content: '';
}
footer .corp-box a:nth-child(n+4) {
    margin-top: 4px;
}
footer .corp-box a:last-child .txt::before {
    display: none;
}
footer .f-logo a {
    display: block;
    margin-top: 14px;
}
footer .f-logo a::before {
    background-position: -127px -26px;
    width: 68px;
    height: 13px;
    display: inline-block;
    content: '';
}