header {
    background-color: #292b2c;
    display: flex;
    position: relative;
    justify-content: space-between;
}
header .logo a {
    display: block;
    padding: 17px 15px 17px 16px;
}
header .logo a::before {
    background-position: -368px -570px;
    width: 22px;
    height: 22px;
}
header .brand-logo {
    position: absolute;
    top: 0;
    height: 100%;
    left: 53px;
}
header .brand-logo a {
    font-size: 21px;
    line-height: 56px;
    color: #fff;
    display: block;
}
header .utils-area {
    display: flex;
    padding-right: 8px;
}
header .utils-area a {
    display: block;
    padding: 16px 8px;
}
header .utils-area a::before {
    width: 24px;
    height: 24px;
}
header .utils-area a.btn-search::before {
    background-position: -537px -523px;
}
header .utils-area a.btn-cart::before {
    background-position: -571px -369px;
}
header .utils-area a.btn-menu::before {
    background-position: -36px -570px;
}

.container {
    background-color: #e9ecef;
}
.sc-main {
    background: #fff;
}
.sc-main .img-box {
    width: 100%;
}
.sc-main .img-box img {
    width: 100%;
    object-fit: cover;
}
.sc-main .wrap {
    padding: 17px 18px 15px;
}
.sc-main .txt-box .t-area {
    margin-bottom: 10px;
    display: flex;
}
.sc-main .txt-box .top-wrap {
    display: flex;
    overflow: hidden;
    flex: 0 1 auto;
}
.sc-main .txt-box .seller {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    white-space: nowrap;
    flex: 0 1 auto;
    font-size: 13px;
    font-weight: bold;
}
.sc-main .txt-box .like {
    margin-left: 4px;
    font-size: 12px;
    line-height: 22px;
    color: #555;
    letter-spacing: -0.2px;
}
.sc-main .txt-box .a-wrap {
    margin-left: 8px;
}
.sc-main .txt-box .btn-link {
    display: inline-block;
    padding: 0 9px;
    border-radius: 100px;
    font-size: 11px;
    font-weight: bold;
    line-height: 22px;
    color: #fff;
    vertical-align: top;
    background-color: #6b90dc;
}
.sc-main .wrap .pro-title {
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
    word-wrap: break-word;
}
.sc-main .wrap .s-wrap {
    margin: 8px 0 12px;
    display: flex;
    align-items: center;
}
.sc-main .wrap .star {
    display: block;
    height: 12px;
}
.sc-main .wrap .star::before {
    background-position: -494px -95px;
    width: 68px;
    height: 11px;
}
.sc-main .wrap .link-review {
    margin-left: 7px;
    font-size: 12px;
    color: #222;
    display: block;
    text-decoration: underline;
}
.sc-main .wrap .p-wrap {
    margin-bottom: 22px;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.3px;
    vertical-align: top;
    display: inline-block;
}
.sc-main .wrap .dis-percent {
    color: #6b90dc;
    font-weight: bold;
}
.sc-main .wrap .price {
    margin-left: 6px;
    color: #afafaf;
    position: relative;
}
.sc-main .wrap .price::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #afafaf;
}
.sc-main .wrap .dis-price {
    margin-top: 2px;
    line-height: 25px;
    color: #000;
    display: flex;
    align-items: center;
    font-weight: normal;
}
.sc-main .wrap .dis-price .bold {
    display: block;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -0.8px;
}
.sc-main .wrap .dis-price .txt {
    display: block;
    margin-left: 1px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.3px;
}
.sc-main .benefit-box {
    margin-top: 8px;
    padding: 0 16px 17px;
    border: 1px solid #585860;
}
.sc-main .benefit-box .txt-title {
    display: flex;
    font-size: 16px;
    line-height: 28px;
    color: #000;
    margin: 0 -16px;
    padding: 14px 16px 10px;
    border-bottom: 1px solid #f4f4f4;
}
.sc-main .benefit-box .txt-title .desc {
    margin-left: 4px;
}
.sc-main .point-box .btn-pointview {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 17px);
    position: relative;
    padding-top: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}
.sc-main .point-box .large-point {
    font-size: 13px;
    font-weight: normal;
}
.sc-main .point-box .large-point .bold {
    font-size: 15px;
    font-weight: bold;
    margin-right: 1px;
}
.sc-main .point-box .btn-pointview::before {
    background-position: -113px -110px;
    width: 12px;
    height: 7px;
    margin: auto 0;
    position: absolute;
    top: 15px;
    right: -17px;
    bottom: 0;
}
/* 스크립트 */
.sc-main .point-box.active .btn-pointview::before {
    background-size: 193px 188px;
    background-position: -109px -132px;
}
.sc-main .point-box .small-box {
    margin-top: 8px;
    position: relative;
    padding-left: 17px;
    font-size: 13px;
    line-height: 18px;
    color: #989898;
    display: flex;
    justify-content: space-between;
}
/* 스크립트 */
.sc-main .point-box.active > .small-box {
    display: none;
}
.sc-main .point-box .small-box::before {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 7px;
    height: 6px;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    content: "";
}
.sc-main .all-box {
    border-top: 1px solid #f4f4f4;
    margin-top: 11px;

    display: none;
}
/* 스크립트 */
.sc-main .point-box.active .all-box {
    display: block;
}
.sc-main .all-box .saving-title {
    display: block;
    margin-top: 15px;
    position: relative;
}
.sc-main .all-box .saving-title .txt::after {
    background-position: -209px -602px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}
.sc-main .all-box .saving-title button {
    pointer-events: none;
}
.sc-main .all-box .infor-box {
    position: absolute;
    left: 50%;
    z-index: 10000;
    width: 306px;
    margin-top: 5px;
    padding: 23px 31px 23px 17px;
    border: 1px solid #e4e6e6;
    background-color: #fff;
    word-break: keep-all;
    word-wrap: break-word;
    transform: translateX(-50%);

    display: none;
}
/* 스크립트 */
.sc-main .all-box .infor-box.active {
    display: block;
}
.sc-main .all-box .infor-box .desc {
    position: relative;
    padding-left: 10px;
    font-size: 14px;
    line-height: 19px;
    color: #444;
}
.sc-main .all-box .infor-box .desc::before {
    position: absolute;
    top: 7px;
    left: 0;
    width: 5px;
    height: 1px;
    background-color: #444;
    content: "";
}
.sc-main .all-box .infor-box .blue {
    color: #6b90dc;
}
.sc-main .all-box .desc+.desc {
    margin-top: 8px;
}
.sc-main .all-box .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}
.sc-main .all-box .btn-close::before {
    background-position: -638px -323px;
    width: 17px;
    height: 17px;
}
.sc-main .plus-box {
    margin-top: 10px;
    padding: 16px 16px;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    background-color: #fbfbfd;
}
.sc-main .plus-box .plus-title {
    font-size: 14px;
    font-weight: 600;
    display: block;
}
.sc-main .plus-box .plus-title::before {
    background-position: -301px -128px;
    width: 28px;
    height: 11px;
    display: inline-block;
    margin: 2px 4px 0 0;
    vertical-align: top;
}
.sc-main .plus-box .large-point {
    display: block;
    margin-top: -1px;
    font-size: 13px;
    text-align: right;
}
.sc-main .plus-box .kr {
    display: inline-block;
    margin: 1px 3px 0 0;
    font-size: 11px;
    font-weight: bold;
    vertical-align: top;
}
.sc-main .plus-box .bold {
    margin-right: 1px;
    font-size: 15px;
    font-weight: bold;
}
.sc-main .plus-box p:nth-of-type(1) {
    margin-top: 10px;
}
.sc-main .plus-box p {
    font-size: 13px;
    color: #989898;
    margin-top: 7px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.sc-main .plus-box .box {
    padding-left: 62px;
}
.sc-main .plus-box .box::before {
    background-position: -494px -363px;
    width: 57px;
    height: 14px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.sc-main .plus-box .txt {
    margin-left: 10px;
    white-space: nowrap;
}
.sc-main .plus-box a {
    text-decoration: underline;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-right: 10px;
}
.sc-main .plus-box a::before {
    background-position: -183px -127px;
    width: 5px;
    height: 8px;
    position: absolute;
    top: 4px;
    right: 0;
}
.sc-main .plus-box .p-box {
    padding-left: 39px;
}
.sc-main .plus-box .p-box::before {
    background-position: -285px -340px;
    width: 34px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.sc-main .wrap .banner-box {
    margin-top: 11px;
    background-color: #6A09D9;
}
.sc-main .banner-box a {
    height: 42px;
    padding: 0 0 0 18px;
    display: block;
    position: relative;
}
.sc-main .banner-box a img {
    height: 100%;
    object-fit: cover;
}
.sc-main .banner-box a::before {
    background-position: -183px -77px;
    width: 6px;
    height: 10px;
    position: absolute;
    top: 16px;
    right: 18px;
}
.sc-deliver {
    margin: 10px 0;
    padding: 20px 18px;
    background-color: #fff;
}
.sc-deliver .title {
    font-size: 16px;
}
.sc-deliver .del-box {
    margin-top: 11px;
    font-size: 14px;
}
.sc-deliver .del-box .wrap {
    display: flex;
}
.sc-deliver .del-box .notice-wrap {
    position: relative;
    margin-top: 14px;
}
.sc-deliver .del-box .infor-box {
    position: absolute;
    left: 50%;
    z-index: 100;
    width: 306px;
    margin-top: 2px;
    padding: 23px 31px 23px 17px;
    border: 1px solid #e4e6e6;
    background-color: #fff;
    font-size: 13px;
    line-height: 18px;
    transform: translateX(-50%);

    display: none;
}
/* 스크립트 */
.sc-deliver .del-box .infor-box.active {
    display: block;
}
.sc-deliver .del-box .desc {
    display: flex;
}
.sc-deliver .del-box .desc em {
    display: block;
    color: #555;
    white-space: nowrap;
}
.sc-deliver .del-box .desc .txt {
    overflow: hidden;
    padding-left: 5px;
    color: #888;
    word-break: keep-all;
    word-wrap: break-word;
}
.sc-deliver .del-box .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}
.sc-deliver .del-box .btn-close::before {
    background-position: -638px -323px;
    width: 17px;
    height: 17px;
}
.sc-deliver .del-box .name {
    width: 82px;
    color: #999;
    letter-spacing: -1px;
    display: block;
}
.sc-deliver .del-box .box span {
    display: block;
    line-height: 17px;
    color: #555;
}
.sc-deliver .del-box .box span + span {
    margin-top: 7px;
}
.sc-deliver .del-box span button {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}
.sc-deliver .del-box span button::after {
    background-position: -177px -628px;
    width: 15px;
    height: 15px;
    position: relative;
    margin-top: 1px;
    vertical-align: top;
}
.sc-deliver .arrival-box {
    margin-top: 10px;
    border: 1px solid #ececec;
}
.sc-deliver .arrival-box .day-box {
    padding: 12px 18px 8px;
    background-color: #fff;
    font-size: 13px;
}
.sc-deliver .arrival-box .desc {
    display: flex;
    white-space: nowrap;
    align-items: center;
}
.sc-deliver .arrival-box .day {
    padding: 5px 17px 5px 0;
    font-weight: 500;
    color: #444;
    display: block;
}
.sc-deliver .arrival-box .case {
    padding-left: 14px;
    color: #999;
    display: block;
    display: flex;
    align-items: center;
}
.sc-deliver .arrival-box .case .bold {
    font-weight: bold;
}
.sc-deliver .arrival-box .percent {
    width: 45px;
    margin-left: 3px;
}
.sc-deliver .arrival-box .bar {
    display: block;
    height: 3px;
    background: #e9ebef;
    width: 100%;
}
.sc-deliver .arrival-box .desc:nth-of-type(1) .gauge {
    display: block;
    height: 3px;
    background-color: #999;
    width: 10%;
}
.sc-deliver .arrival-box .desc:nth-of-type(2) .gauge {
    display: block;
    height: 3px;
    background-color: #6b90dc;
    width: 90%;
}
.sc-deliver .arrival-box .desc:nth-of-type(2) .case {
    color: #6b90dc;
}
.sc-deliver .arrival-box .del-notice {
    padding: 10px 18px;
    background-color: #fafafa;
    font-size: 12px;
    color: #888;
    word-break: keep-all;
}
.sc-deliver .arrival-box .del-notice .bold {
    color: #444;
}
.sc-proinfor {
    position: relative;
    margin-bottom: 10px;
    padding: 20px 18px 14px;
    background-color: #fff;
}
.sc-proinfor .title {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: normal;
    color: #000;
}
.sc-proinfor .wrap {
    margin-bottom: 5px;
    display: flex;
}
.sc-proinfor .wrap .name {
    width: 82px;
    letter-spacing: -0.9px;
    color: #999;
}
.sc-proinfor .wrap .box {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 17px;
    white-space: nowrap;
    padding-right: 21px;
}
/* 스크립트 */
.sc-proinfor.active .wrap .box {
    text-overflow: initial;
    white-space: wrap;
    padding-right: 0;
}
.sc-proinfor .more-box {
    margin: 20px 0 7px;
    padding-top: 16px;
    border-top: solid 1px #f1f1f5;
    font-size: 13px;
    line-height: 16px;
    color: #959595;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.sc-proinfor .more-box a {
    border-bottom: 1px solid #000;
    color: #000;
}
.sc-proinfor .more-box .desc::before {
    background-position: -638px -556px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
    content: "";
}
.sc-proinfor .more-box .btn-more {
    position: relative;
    position: absolute;
    bottom: 0;
    right: 0;
}
.sc-proinfor .more-box .btn-more::before {
    background-position: -31px -92px;
    width: 19px;
    height: 10px;
}
/* 스크립트 */
.sc-proinfor.active .more-box .btn-more::before{
    background-position: -119px -48px;
}
.sc-proinfor .link-notify {
    position: absolute;
    top: 17px;
    right: 18px;
    height: 27px;
    padding: 0 10px;
    border: solid 1px #cfcfcf;
    font-size: 13px;
    color: #555;
    line-height: 27px;
    background-color: #fafafa;
}
.sc-visual {
    background: #fff;
}
.sc-visual .infor-list {
    padding: 15px 18px;
    display: flex;
}
.sc-visual .infor-list.active {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 8px 15px 7px;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 5%);
    z-index: 9999;
    background: #fff;
}
.sc-visual .infor-item {
    text-align: center;
    border-left: 1px solid #e9e9ef;
    background-color: #f1f1f5;
    box-shadow: inset 0 1px 0 #e6e6e7, inset 0 -1px 0 #e6e6e7;
    width: calc(100% / 3);
    color: #666;
}
/* 스크립트 */
.sc-visual .infor-item.active {
    background-color: #292b2c;
    color: #fff;
    box-shadow: none;
}
.sc-visual .infor-item .num {
    margin-left: 3px;
}
.sc-visual .infor-item.active+.infor-item {
    border-left: 0;
}
.sc-visual .infor-item:last-child {
    border-right: 1px solid #e9e9ef;
}
.sc-visual .infor-item button {
    display: block;
    height: 38px;
    font-size: 15px;
    font-weight: normal;
    line-height: 39px;
    width: 100%;
    color: inherit;
}
.sc-visual .notice-box {
    min-height: 118px;
    padding: 20px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #222;
    background-color: #fff8f8;
    box-sizing: border-box;
    margin: 1px 18px 14px;
}
.sc-visual .notice-title {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 17px;
    font-weight: bold;
    color: #ec000e;
    vertical-align: top;
}
.sc-visual .notice-title::before {
    background-position: -200px -491px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.sc-visual .notice-box .desc .highlight {
    background-color: #fff4ac;
}
.sc-visual .notice-box .link-customer {
    font-weight: bold;
    color: #811515;
    text-decoration: underline;
}
.sc-visual .infor-desc {
    margin: 15px 15px 8px;
    font-size: 13px;
    line-height: 16px;
    color: #777;
}
.sc-visual .infor-desc .bold {
    font-weight: bold;
}
.sc-visual .btn-all {
    margin: 20px 15px;
    display: block;
    height: 45px;
    border: 1px solid #dadada;
    font-size: 15px;
    line-height: 45px;
    color: #555;
    text-align: center;
}
.sc-visual .btn-all .txt {
    display: block;
}
.sc-visual .btn-all .txt::after {
    background-position: -101px -22px;
    width: 7px;
    height: 13px;
    display: inline-block;
    margin: 0 1px 0 6px;
}
.sc-visual .img-wrap {
    overflow: hidden;
    position: relative;
    padding-bottom: 44px;
}
.sc-visual .img-box {
    height: 1200px;
}
/* 스크립트 */
.sc-visual .img-box.active {
    height: auto;
    padding-bottom: 46px;
}
.sc-visual .img-box img {
    width: 100%;
    vertical-align: middle;
}
.sc-visual .img-box .more-box {
    position: absolute;
    right: 20px;
    bottom: 20px;
    left: 20px;
    z-index: 2000;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    height: 50px;
    border: 1px solid #000;
    background-color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 48px;
    color: #000;
    text-align: center;
}
.sc-visual .img-box .more-box .txt::after {
    background-position: -146px -21px;
    width: 14px;
    height: 8px;
    display: inline-block;
    margin: 20px 0 0 6px;
    vertical-align: top;
}
/* 스크립트 */
.sc-visual .img-box.active .more-box .txt::after {
    background-position: -146px -103px;
}
.sc-visual .img-box::before {
    position: absolute;
    right: 0;
    bottom: 44px;
    left: 0;
    z-index: 1000;
    height: 80px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    content: '';
}
/* 스크립트 */
.sc-visual .img-box.active::before {
    display: none;
}
.sc-visual .img-box.active::after {
    display: none;
}

.sc-visual .img-box::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 44px;
    background-color: #fff;
    content: '';
}
.sc-seller {
    margin: 10px 0;
    padding: 22px 18px 0;
    border-bottom: 1px solid #e3e5e8;
    background-color: #fff;
}
.sc-seller .top-wrap {
    display: flex;
    align-items: center;
}
.sc-seller .ig-seller {
    width: 50px;
    overflow: hidden;
    position: relative;
    height: 50px;
    border-radius: 50%;
    position: relative;
}
.sc-seller .ig-seller::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(0,0,0,.07);
    border-radius: 50%;
    content: "";
}
.sc-seller .ig-seller img {
    width: 100%;
    height: 100%;
}
.sc-seller .seller-box {
    padding-left: 15px;
}
.sc-seller .seller-box .seller {
    display: inline-block;
    line-height: 18px;
    vertical-align: top;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.sc-seller .seller-box .seller::after {
    background-position: -101px -22px;
    width: 7px;
    height: 13px;
    display: inline-block;
    margin: 3px 0 0 8px;
    vertical-align: top;
}
.sc-seller .seller-box .grade {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    margin-top: 7px;
}
.sc-seller .seller-box .grade .sky {
    display: inline-block;
    margin-left: 4px;
    font-weight: bold;
    color: #2cb0d2;
    vertical-align: top;
}
.sc-seller .btn-wrap {
    display: flex;
    height: 40px;
    text-align: center;
    padding: 12px 0 20px;
    box-sizing: content-box;
}
.sc-seller .btn-wrap .btn-like {
    background-color: #292b2c;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    color: #fff;
    letter-spacing: -0.5px;
}
.sc-seller .btn-wrap .btn-share {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 38px;
    margin-left: 5px;
    border: 1px solid #dbddde;
    background-color: #fff;
    vertical-align: top;
}
.sc-seller .btn-wrap .btn-share::before {
    background-position: -131px -602px;
    width: 18px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    content: '';
}
.sc-seller .btn-wrap .btn-like .txt {
    margin-right: 6px;
    display: inline-block;
    vertical-align: top;
}
.sc-seller .btn-wrap .btn-like .txt::before {
    background-position: -131px -464px;
    width: 18px;
    height: 14px;
    margin-top: 12px;
    content: '';
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
}
.sc-seller .pro-list {
    overflow: hidden;
    margin: -1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.sc-seller .pro-item {
    display: inline-block;
    padding: 1px;
}
.sc-seller .pro-item:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.sc-seller .pro-item a {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}
.sc-seller .pro-item a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.04);
    content: "";
}
.sc-seller .pro-item a img {
    width: 100%;
}
.sc-seller .btn-more {
    display: block;
    width: 100%;
    margin: 10px 0 18px;
    border: 1px solid #e8e8e8;
    font-size: 15px;
    font-weight: 500;
    line-height: 41px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%);
}
.sc-seller .btn-more .txt::after {
    background-position: -92px -110px;
    width: 13px;
    height: 8px;
    margin: 17px 0 0 5px;
    display: inline-block;
    vertical-align: top;
}
.sc-popproduct {
    position: relative;
    margin: 10px 0;
    padding: 29px 0 19px;
    background-color: #fff;
    overflow: hidden;
}
.sc-popproduct .title {
    padding: 0 75px 0 18px;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: -0.5px;
}
.sc-popproduct .title .blue {
    color: #6b90dc;
}
.sc-popproduct .product-swiper {
    margin-top: 16px;
    padding: 0 18px 10px;

}
.sc-popproduct .product-swiper .swiper-slide {
    width: 120px;
    display: inline-block;
    position: relative;
}
.sc-popproduct .product-swiper .swiper-slide .link-pro {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}
.sc-popproduct .product-swiper .swiper-slide+.swiper-slide {
    margin-left: 5px;
}
.sc-popproduct .product-swiper .swiper-slide a {
    display: inline-block;
}
.sc-popproduct .product-swiper .ig-content {
    height: 120px;
    position: relative;
}
.sc-popproduct .product-swiper .ig-content::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border: 1px solid rgba(0,0,0,.04);
    content: '';
}
.sc-popproduct .product-swiper .ig-content img {
    width: 100%;
    height: 100%;
}
.sc-popproduct .product-swiper .ig-content .btn-like {
    position: absolute;
    right: 6px;
    bottom: 6px;
    z-index: 2;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.3);
}
.sc-popproduct .product-swiper .ig-content .btn-like::after {
    position: absolute;
    top: 8px;
    left: 6px;
    background-position: -291px -464px;
    width: 13px;
    height: 11px;
}
.sc-popproduct .product-swiper .txt-box {
    margin-top: 10px;
}
.sc-popproduct .product-swiper .txt-box .price {
    font-size: 14px;
    line-height: 17px;
    display: block;
}
.sc-popproduct .product-swiper .txt-box .price span {
    font-weight: normal;
}
.sc-popproduct .product-swiper .txt-box .pro-title {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    display: -webkit-box;
    max-height: 32px;
    white-space: normal;
    word-wrap: break-word;
    word-break: keep-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 5px;
    font-size: 13px;
    color: #888;
    padding-right: 2px;
}
.sc-popproduct .link-all {
    position: absolute;
    top: 20px;
    right: 8px;
    padding: 10px;
    font-size: 13px;
    letter-spacing: -0.5px;
    color: #999;
}
.sc-popproduct .link-all::after {
    background-position: -168px -100px;
    width: 6px;
    height: 11px;
    display: inline-block;
    margin: 3px 0 0 5px;
    vertical-align: top;
}
.sc-informore {
    background-color: #fff;
    margin: 10px 0;
    box-shadow: 0 0 1px rgb(0 0 0 / 20%);
}
.sc-informore .infor-item+.infor-item {
    border-top: 1px solid #f1f1f2;
}
.sc-informore .infor-item .green {
    color: #00c73c;
}
.sc-informore .infor-item a {
    display: block;
    position: relative;
    padding: 15px 15px 14px;
    font-size: 16px;
    line-height: 18px;
    color: #000;
}
.sc-informore .infor-item a::after {
    position: absolute;
    top: 17px;
    right: 15px;
    background-position: -101px -22px;
    width: 7px;
    height: 13px;
}
.sc-legal {
    background: #fff;
    position: relative;
}
.sc-legal .title {
    display: block;
    padding: 10px 14px;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #ededed;
}
.sc-legal .desc {
    padding: 13px 15px;
    line-height: 18px;
    font-size: 13px;
    color: #7e8288;
    letter-spacing: -1px;
}
.sc-legal .link-more {
    position: absolute;
    top: 0;
    right: 14px;
    padding: 10px 15px;
    font-size: 13px;
    color: #555;
    letter-spacing: -0.5px;
}
.sc-legal .link-more::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 7px;
    height: 7px;
    margin-top: -1px;
    border-top: 1px solid #8f8f8f;
    border-right: 1px solid #8f8f8f;
    transform: translate(-50%, -50%) rotate(45deg);
    content: '';
}




/* 로그인 */
.top-area {
    position: relative;
    margin: 0 -10px;
    height: 110px;
    background-color: #00c73c; 
}
.top-area .logo {
    display: inline-block;
}
.top-area .logo a {
    /* position: relative; */
    display: inline-block;
    padding: 19px 3px 19px 10px;
    vertical-align: top;
}
.top-area .logo a::before {
    content: '';
    display: block;
    background-position: -599px -36px;
    width: 24px;
    height: 24px;
}
.top-area .main-cata {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 22px 10px 22px 4px;
}

.top-area .main-cata::before {
    display: block;
    content: '';
    background-position: -525px -484px;
    width: 32px;
    height: 18px;
}
.top-area .main-cata::after {
    position: absolute;
    top: 24px;
    right: 0;
    width: 1px;
    height: 14px;
    background-color: rgba(255,255,255,.3);
    content: '';
}
.top-area .cata {
    display: inline-block;
    position: relative;
    padding: 22px 10px 20px;
    vertical-align: top;
}
.top-area .cata::before {
    background-position: -4px -28px;
    width: 53px;
    height: 20px;
    display: block;
    content: '';
} 
.top-area .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 19px 16px;
}
.top-area .btn-close::before {
    background-position: -132px -595px;
    width: 24px;
    height: 24px;
    display: block;
    content: "";
}
.sc-login {
    position: relative;
    height: 95px;
    margin-top: -48px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 4%);
    text-align: center;
    letter-spacing: -0.3px;
}
.sc-login .txt-login {
    padding-top: 31px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
}
.sc-login .txt-login a {
    display: inline-block;
    margin-right: 4px;
    color: #00c73c;
    line-height: 15px;
    border-bottom: 2px solid #00c73c;
    vertical-align: top;
}
.sc-login .desc{
    margin-top: 3px;
    font-size: 14px;
    color: #999;
}
main {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 4%);
    margin-top: 10px;
}
.sc-catawrap .title-wrap {
    display: flex;
}
.sc-catawrap .all-title {
    width: 50%;
    border-left: 1px solid #e9e9e9;
}
/* 스크립트 */
.sc-catawrap .all-title.active button {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: 600;
    color: #00c73c;
}
.sc-catawrap .all-title button {
    height: 48px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e9e9e9;
    font-size: 15px;
    color: #666;
    letter-spacing: -0.3px;
    width: 100%;
}
.sc-catawrap .sub-wrap {
    overflow: hidden;
    background-color: #fff;
}
.sc-catawrap .sub-wrap {
    padding-top: 16px;
}
.sc-catawrap ul.sub-list {
    padding: 0 3px 11px;
    display: flex;
    flex-wrap: wrap;

    display: none;
}
.sc-catawrap .sub-list {
    display: none;
}
/* 스크립트 */
.sc-catawrap ul.sub-list.active {
    display: flex;
}
.sc-catawrap .sub-list.active {
    display: block;
}
.sc-catawrap .sub-item {
    width: 25%;
}
.sc-catawrap .sub-item a {
    display: block;
    padding: 11px 0 12px;
    font-size: 12px;
    color: #666;
    letter-spacing: -0.4px;
    text-align: center;
}
.sc-catawrap .sub-item .ig {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto 5px;
}
.sc-catawrap .sub-item .ig img {
    width: 100%;
    object-fit: cover;
}
.sc-catawrap .stitle-wrap {
    margin: 20px 17px 3px;
    display: flex;
    flex: 1;
    background-color: #f9f9f9;
    border: 1px solid #eee;
}
.sc-catawrap .stitle-wrap .item-wrap {
    width: calc(100% / 3);
    border-left: 1px solid #eee;
}
.sc-catawrap .stitle-wrap button {
    width: 100%;
    height: 34px;
    color: #999;
    line-height: 34px;
    font-size: 14px;
}
/* 스크립트 */
.sc-catawrap .item-wrap.active button {
    background-color: #fff;
    font-weight: 600;
    color: #00c73c;
}
.sc-catawrap .cata-list {
    margin: 0 12px 16px;
    display: flex;
    flex-wrap: wrap;
    
    display: none;
}

/* 스크립트 */
.sc-catawrap .cata-list.active {
    display: flex;
}

.sc-catawrap .cata-item {
    display: inline-block;
    margin-top: 13px;
    width: calc(100% / 7);
    text-align: center;
    vertical-align: top;
}
.sc-catawrap .cata-item button {
    background-color: #f3f3f3;
    width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 50%;
    font-size: 15px;
    color: #797979;
}
/* 스크립트 */
.sc-catawrap .cata-item.active button {
    color: #fff;
    background-color: #00c73c;
}


.sc-catawrap .cata-list.last {
    padding: 0 17px;
    margin: -5px 0 -1px;
    border-bottom: 1px solid #eee;
}
.sc-catawrap .cata-list.last .cata-item {
    display: inline-block;
    width: 50%;
    border-top: 1px solid #f3f3f3;
    vertical-align: top;
    margin-top: 0;
}
.sc-catawrap .cata-list.last button {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 45px;
    white-space: nowrap;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 0 3px;
    text-align: left;

    background-color: transparent;
    border-radius: 0;
    font-size: 14px;
    color: #000;
}
/* 스크립트 */
.sc-catawrap .cata-list.last .cata-item.active button {
    color: #0abe16;
    font-weight: bold;
}

.sc-catawrap .brand-list {
    padding: 0 17px;
}
.sc-catawrap .brand-item {
    height: 80px;
    border-top: 1px solid #f1f1f1;
}
.sc-catawrap .brand-item a {
    padding: 23px 0;
    display: flex;
}
.sc-catawrap .brand-item .img-wrap {
    padding-right: 17px;
    width: 98px;
    height: 30px;
    text-align: center;
}
.sc-catawrap .brand-item .img-wrap img {
    display: inline-block;
    max-width: 66px;
    max-height: 30px;
}
.sc-catawrap .brand-item .txt-box {
    padding-left: 15px;
    border-left: 1px solid #f1f1f1;
    display: block;
    font-size: 12px;
    color: #a7a7a7;
}
.sc-catawrap .brand-item .txt-box .name {
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #444;
}

.sc-service {
    margin-top: 10px;
    padding: 25px 17px 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 4%);
    letter-spacing: -0.3px;
}
.sc-service .keytitle {
    font-size: 16px;
    font-weight: 600;
    color: #222;
}
.sc-service .service-list {
    margin-top: 9px;
    display: flex;
    flex-wrap: wrap;
}
.sc-service .service-list .service-item {
    display: block;
    width: 50%;
    height: 44px;
}
.sc-service .service-list .service-item a {
    display: block;
    font-size: 15px;
    line-height: 44px;
    color: #444;
}
.sc-service .service-list .service-item.toptop a::after {
    background-position: -4px -56px;
    width: 48px;
    height: 19px;
    margin-top: 12px;
    display: inline-block;
    content: '';
    vertical-align: top;
}
.sc-service .service-item:first-child a::before {
    background-image: url(../images/spSw_hamburger_png.png);
    background-size: 24px 24px;
    background-position: 0px 0px;
    display: inline-block;
    content: '';
}

.sc-service .service-item a::before {
    display: inline-block;
    content: '';
    margin: 10px 8px 0 0;
    vertical-align: top;
    width: 24px;
    height: 24px;
}
.sc-service .service-item:nth-child(2) a::before {
    background-position: -68px -563px;
}
.sc-service .service-item:nth-child(3) a::before {
    background-position: -484px -563px;
}
.sc-service .service-item:nth-child(4) a::before {
    background-position: -565px -503px;
}
.sc-service .service-item:nth-child(5) a::before {
    background-position: -356px -563px;
}
.sc-service .service-item:nth-child(6) a::before {
    background-position: -548px -563px;
}
.sc-service .service-item:nth-child(7) a::before {
    background-position: -4px -563px;
}
.sc-service .service-item:nth-child(8) a::before {
    background-position: -565px -439px;
}
.sc-service .service-item:nth-child(9) a::before {
    background-position: -260px -563px;
}
.sc-service .service-item:nth-child(10) a::before {
    background-position: -228px -563px;
}
.sc-service .service-item:nth-child(11) a::before {
    background-position: -100px -563px;
}
.sc-service .service-item:nth-child(12) a::before {
    background-position: -292px -563px;
}
.sc-service .service-item:nth-child(13) a::before {
    background-position: -196px -563px;
}
.sc-service .service-item:nth-child(14) a::before {
    background-position: -388px -563px;
}
.sc-service .service-item:nth-child(15) a::before {
    background-position: -452px -563px;
}
.sc-service .service-item:nth-child(16) a::before {
    background-position: -565px -407px;
}
.sc-service .service-item:nth-child(17) a::before {
    background-position: -324px -563px;
}
.sc-service .service-item:nth-child(18) a::before {
    background-position: -164px -563px;
}
.sc-service .service-item:nth-child(19) a::before {
    background-position: -132px -563px;
}
.sc-service .service-item:nth-child(20) a::before {
    background-position: -36px -563px;
}
.sc-service .service-item:nth-child(21) a::before {
    background-position: -599px -4px;
}
.sc-service .service-item:nth-child(22) a::before {
    background-position: -420px -563px;
}
.sc-service .service-item:nth-child(23) a::before {
    background-position: -565px -471px;
}
.sc-service .service-item:nth-child(24) a::before {
    background-position: -516px -563px;
}
.sc-service .service-item:nth-child(25) a::before {
    background-position: -565px -343px;
}
.sc-service .service-item:nth-child(26) a::before {
    background-position: -565px -375px;
}
